body{
    /* margin: 1rem; */
}

.placeList {
    font-size: 20px;
    text-align: left;

    width: max-content;
    margin: auto;
}

main {
    display: flex;
    justify-content: space-around;
}

.heading {
    display: flex;
    align-items: center;
}

.map-container {
    width: 60vw;
    height: 500px;
}

.map-controller {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
}

h4 {
    margin: 20px;
}